.acc {
  background-color: rgb(44, 43, 43);
}
.accord {
  background-color: rgb(44, 43, 43);
  margin: 0px 140px;
}
.ask {
  text-align: center;
}
.asked {
  padding: 40px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 32px;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgba(251, 215, 37, var(--tw-text-opacity));
  text-transform: uppercase;
}
.question {
  margin-bottom: 30px;
  font-size: 1.25rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.accordion {
  background-color: rgb(44, 43, 43);
}
.typo {
  color: white;
}
#panel1a-header {
  background-color: rgb(44, 43, 43);
  box-shadow: 0 0 6px rgb(255 255 255 / 33%);
}
.heading {
  background-color: rgb(44, 43, 43);
}
.detail {
  background-color: rgb(44, 43, 43);
  box-shadow: 0 0 6px rgb(255 255 255 / 33%);
}
@media (max-width: 600px) {
  .accord {
    margin: 0px;
  }
  .question {
    width: 100%;
  }
}
